.productList {
   display: grid;
   grid-template-columns: repeat(4, 1fr);

   gap: 3.5rem;
   align-items: center;

   @media (max-width: 1050px) {
      grid-template-columns: repeat(3, 1fr);
   }

   @media (max-width: 800px) {
      grid-template-columns: repeat(2, 1fr);

   }

   @media (max-width: 630px) {
      grid-template-columns: none;
      display: flex;
      flex-direction: row;
   }
}

.container {
   margin-top: 80px;

   @media (max-width: 680px) {
      margin-top: 135px;
      overflow: auto;
   }
}