:root {
    --font-primary: 'Inter', sans-serif;

    --color-primary-green: #27AE60;
    --color-secondary-red: #EB5757;

    --color-gray-700: #333333;
    --color-gray-400: #828282;
    --color-gray-200: #E0E0E0;
    --color-gray-0: #F5F5F5;

    --color-negative: #E60000;
    --color-warning: #FFCD07;
    --color-sucess: #168821;
    --color-information: #155BCB;
}