.container {
    width: 100%;
    max-width: 84.375rem;
    padding: 1rem;
    margin: auto;
}

.cont.sm {
    width: 100%;
    max-width: 31.25rem;
    margin: auto;
    background: #FFFFFF;
    border-radius: 5px;
    padding-bottom: 1rem;
}